.invoice {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

    &-title {
        margin-bottom: 20px;
        padding: 15px;
        font-size: 25px;

        border: 1px solid lightgray;
        border-left: 7px solid lightgray;
        border-radius: 5px;
    }

    &-addNew {
        margin-bottom: 20px;
        border-top: 1px solid lightgray;
    }

    &-form { 
        border-top: 1px solid lightgray;
        border-bottom: 2px solid lightgray;
        padding: 30px;
        background-color: #ffffff;
    }
}

.history {
    border: 1px solid #ffffff;
    width: 100%;
    table-layout: fixed;
     
    &-title {
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        padding-bottom: 10px;
    }

    & thead {
        background-color: rgb(203, 229, 236);
        color: rgb(20, 113, 145);
    }

    & th {
        padding: 15px 10px;
        text-align: left;
        text-transform: uppercase;
    }

    & tbody tr {
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
    }

    & td {
        padding: 15px 10px;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
    }
}
