.createInvoice {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;

  border: 1px solid black;
  padding: 30px;
  background-color: #efefef;

  &-title {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    color: rgb(87, 82, 82);
    font-size: 25px;
  }
}

.error {
  color: #e63946;
  font-size: 1rem;
}

.form {

  &-label {
     font-weight: 700;
     display: block;
     margin-bottom: 10px;
  }

  &-input {
    display: block;
    width: 100%;
  }

  &-labelText {
    font-weight: 700;
    font-size: 14px;
    line-height: 2.5;
    letter-spacing: 0.07em;
    // color: #9b9faa;
  }

  &-comment {
    width: 100%;
    resize: none;
  }

  &-btn {
    padding: 5px 15px;
    border: 1px solid navy;
    border-radius: 5px;
    background-color: lightblue;
    box-shadow: 1px 1px 7px 0px rgba(140, 140, 140, 0.75);
  }

  &-btn:hover,
  &-btn:focus {
    background-color: yellow;
  }
}



  
  